<a href="https://colab.research.google.com/github/AngelR0/Binary_Classifier_Model/blob/main/model_binary_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Deep Learning

## Prepare the Data

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from pathlib import Path
import numpy as np

In [2]:
# Upload creadit_card_transaction.csv
from google.colab import files
csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder
applicants_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
display(applicants_data_df.head())
display(applicants_data_df.tail())

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the Data types associated with each columns
applicants_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [5]:
# Drop the `EIN` and `NAME` columns
applicants_data_df = applicants_data_df.drop(columns = ["EIN", "NAME"])

# Review the DataFrame
applicants_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
from pandas.core.arrays import categorical
# Create a list of categorical variables
categorical_variables = list(applicants_data_df.dtypes[applicants_data_df.dtypes == "object"].index)

# Display the variables
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a ONEHOTENCODER instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorical variables using the ONEHOTENCODER
encoded_data = enc.fit_transform(applicants_data_df[categorical_variables])

In [9]:
# Create a dataFrame with the encoded variables
encoded_df = pd.DataFrame(data = encoded_data, columns = enc.get_feature_names_out(categorical_variables))

# Display the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Add the numerical variables from the original DataFrame to the one_hot encoding DataFrame
encoded_df = pd.concat([applicants_data_df.drop(columns = categorical_variables), encoded_df], axis = 1)

# Display the new DataFrame
display(encoded_df.head())
display(encoded_df.tail())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = "IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split the preprocessed data into a trainning and testing datasets
# # Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training datasets
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile and Evaluate a Binary Classification Model

In [15]:
# Define the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
display(number_input_features)

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
display(hidden_nodes_layer1)

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = ( hidden_nodes_layer1 + number_output_neurons) // 2

# Display the number hidden nodes. in the second layer
display(hidden_nodes_layer2)

29

In [19]:
# Create the Sequential model instance
seq_model = Sequential()

In [20]:
# Add the first hidden layer
seq_model.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
seq_model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
seq_model.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [23]:
# Display the Sequential model summary
seq_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile and fit the model
seq_model.compile(loss= "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

# Fitting using 50 epochs
seq_model.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5754 - accuracy: 0.7196
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7281
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7296
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7337
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7349
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7317
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7333
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7361
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7368
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7379
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7380
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7405
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7376
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7407
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7395
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7392
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7411
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7399
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7396
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7413
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7408
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7397

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method test data
model_loss, model_accuracy = seq_model.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy resuls
print(f"Loss: {model_loss} \nAccuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5575 - accuracy: 0.7291 - 489ms/epoch - 2ms/step
Loss: 0.5574955344200134
Accuracy: 0.7290962338447571

In [50]:
# Save the models file path
file_path = "../Resources/AlphabetSoup.h5"

# Export your model to a HDF5 file
seq_model.save(file_path)

## Optimize the Neural Network Model

### Alternative Model 1

In [27]:
# Define the number of inputs
num_input_features = len(X_train.iloc[0])

# Review the number of features
display(num_input_features)

116

In [28]:
# Define the number of neurons in the output layer
num_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
A1_hidden_nodes_layer1 = (num_input_features + num_output_neurons_A1) // 1.5

# Review the number of hidden nodes in the first layer
A1_hidden_nodes_layer1

78.0

In [30]:
# Create the Sequential model instance
A1_seq_model = Sequential()

In [31]:
# First hidden layer
A1_seq_model.add(Dense(units = A1_hidden_nodes_layer1, input_dim= num_input_features, activation="relu"))

# Output layer
A1_seq_model.add(Dense(units=num_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model 
A1_seq_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 78)                9126

 dense_4 (Dense)             (None, 1)                 79

=================================================================
Total params: 9,205
Trainable params: 9,205
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential Model
A1_seq_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Fit the model using 100 epochs
fit_modelA1 = A1_seq_model.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5977 - accuracy: 0.7155
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7298
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7311
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7315
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7327
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7325
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7328
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7340
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7330
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7328
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7340
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7326
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7354
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5415 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7348
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7357
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7344
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7354
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7352
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7351
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7346
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7348
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7357
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7360
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7350
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7350
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7361
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7350
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7366
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7367
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7362
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7369
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7376
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7378
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7374
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7375
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7376
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7381
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7380
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7377
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7388
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7387
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7384
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7387
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7374
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7392
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7380
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7381
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7389
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7365
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7381
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7384
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7390
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7385
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7382
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7405
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7377
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7384
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7386
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7380
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7392

### Alternative Model 2

In [34]:
# Define the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Display the number of features 
number_input_features

116

In [35]:
# Define the number of neurons in the output Layer
num_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2 = (number_input_features + num_output_neurons_A2)

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2

117

In [37]:
# Create the Sequential model instance
A2_seq_model = Sequential()

In [38]:
# First hidden layer
A2_seq_model.add(Dense(units = hidden_nodes_layer2, input_dim = number_input_features, activation="relu"))

# Output layer
A2_seq_model.add(Dense(units = num_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
A2_seq_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 117)               13689

 dense_6 (Dense)             (None, 1)                 118

=================================================================
Total params: 13,807
Trainable params: 13,807
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile and fit the model
A2_seq_model.compile(loss = "binary_crossentropy", optimizer="adam", metrics=["accuracy"])

A2_seq_model.fit(X_train_scaled, y_train, epochs = 150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5767 - accuracy: 0.7211
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7285
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7296
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7304
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7319
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7308
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7303
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7324
Epoch 9/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7313
Epoch 10/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5463 - accuracy: 0.7329
Epoch 11/150
804/804 [==============================] - 4s 4ms/step - loss: 0.5452 - accuracy: 0.7330
Epoch 12/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7324
Epoch 13/150
804/804 [==============================] - 4s 5ms/step - loss: 0.5443 - accuracy: 0.7327
Epoch 14/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7336
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7351
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7346
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7351
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7350
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7347
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7352
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7355
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7366
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7366
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7373
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7374
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7375
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7378
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7379
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7371
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7376
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7373
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7374
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7370
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7372
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7374
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7375
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 69/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7379
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7382
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7374
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7380
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7389
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7378
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7386
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7375
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7381
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7375
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7393
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7386
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7385
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7390
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7392
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7386
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7387
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7389
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7390
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7392
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7393
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7386
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7404
Epoch 109/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5330 - accuracy: 0.7381
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7395
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7401
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7390
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7396
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7396
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7392
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7408
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7393
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7396
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7392
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7412
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7399
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7393
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7414
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7397
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7403
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7403
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7404

In [40]:
# Display the accuracy scores achieved by each model and compare the results

print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the 'evaluate' method and test data
model_loss, model_accuracy = seq_model.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model and accuracy results 
print(f"Loss: {model_loss} \nAccuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5575 - accuracy: 0.7291 - 352ms/epoch - 1ms/step
Loss: 0.5574955344200134
Accuracy: 0.7290962338447571

In [41]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the 'evaluate' method and test data
model_loss, model_accuracy = A1_seq_model.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model and accuracy results 
print(f"Loss: {model_loss} \nAccuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5586 - accuracy: 0.7297 - 444ms/epoch - 2ms/step
Loss: 0.5586122274398804
Accuracy: 0.72967928647995

In [42]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the 'evaluate' method and test data
model_loss, model_accuracy = A2_seq_model.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model and accuracy results 
print(f"Loss: {model_loss} \nAccuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6085 - accuracy: 0.7321 - 444ms/epoch - 2ms/step
Loss: 0.6084644198417664
Accuracy: 0.7321282625198364

In [43]:
# Set the file path for the first alternative model
file_path = Path("../Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
A1_seq_model.save(file_path)

In [47]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
A2_seq_model.save(file_path)